ICMP destination unreachable

From Marius Feldmann: https://mailarchive.ietf.org/arch/msg/deepspace/chGMkwgnJG0ETDy53gTdieVOYqk/

Could you provide details, which ICMP message type should be used to 
signal packet drops in the case of full queues "so that the transport 
protocol can recover by resending the dropped packets"? Additionally, it 
would be great to get further information on the mentioned recovery 
approach.


- Might quote RFC4443 section 3.1 last paragraph.
- or just remove that ICMP discussion, as not really used in practice.